# 0. Imports

## 0.0. Imports

In [86]:
import pandas as pd

## 0.1. Helper Functions

In [93]:
dados = pd.read_excel('dados.xlsx')

## 0.2. Load Data

In [107]:
dados = pd.read_csv('dados_lotofacil.csv')

In [108]:
#dados = dados.loc[~dados['Concurso'].isna()]
#dados = dados.loc[~dados['Bola1'].isna()]
#
#dados.to_csv(r'C:\Users\joaoh\repos\dados_lotofacil.csv', index=False)

# 1. Data Description

In [112]:
df1 = dados

In [113]:
df1.columns

Index(['Concurso', 'Data_Sorteio', 'Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5',
       'Bola6', 'Bola7', 'Bola8', 'Bola9', 'Bola10', 'Bola11', 'Bola12',
       'Bola13', 'Bola14', 'Bola15', 'Arrecada=C3=A7=C3=A3o_Total',
       'Ganhadores_15_N=C3=BAmeros', 'Cidade', 'Ganhadores_14_N=C3=BAmeros',
       'Ganhadores_13_N=C3=BAmeros', 'Ganhadores_12_N=C3=BAmeros',
       'Ganhadores_11_N=C3=BAmeros', 'Valor_Rateio_15_N=C3=BAmeros',
       'Valor_Rateio_14_N=C3=BAmeros', 'Valor_Rateio_13_N=C3=BAmeros',
       'Valor_Rateio_12_N=C3=BAmeros', 'Valor_Rateio_11_N=C3=BAmeros',
       'Acumulado_15_N=C3=BAmeros', 'Estimativa_Pr=C3=AAmio',
       'Valor_Acumulado_Especial'],
      dtype='object')

In [111]:
cols_new = ['concurso', 'data_sorteio', 'bola1', 'bola2', 'bola3', 'bola4', 'bola5', 'bola6', 'bola7', 'bola8',
            'bola9', 'bola10', 'bola11', 'bola12', 'bola13', 'bola14', 'bola15', 'arrecadacao_total',
            'ganhadores_15_numeros', 'cidade', 'ganhadores_14_numeros', 'ganhadores_13_numeros', 'ganhadores_12_numeros',
            'ganhadores_11_numeros', 'valor_rateio_15_numeros', 'valor_rateio_14_numeros', 'valor_rateio_13_numeros',
            'valor_rateio_12_numeros', 'valor_rateio_11_numeros', 'acumulado_15_numeros', 'esimativa_premio',
            'valor_acumulado_especial']

In [114]:
df1.columns = cols_new

In [115]:
df1

,concurso,data_sorteio,bola1,bola2,bola3,bola4,bola5,bola6,bola7,bola8,...,ganhadores_12_numeros,ganhadores_11_numeros,valor_rateio_15_numeros,valor_rateio_14_numeros,valor_rateio_13_numeros,valor_rateio_12_numeros,valor_rateio_11_numeros,acumulado_15_numeros,esimativa_premio,valor_acumulado_especial
0,1,29/09/2003,2.0,3.0,5.0,006,9.0,10.0,11.0,13.0,...,NaN,SP,154,4645,48807,257593,"R$49= .765,82","R$689,84","R$10,00","R$4,00"
1,2,06/10/2003,1.0,4.0,5.0,006,7.0,9.0,11.0,12.0,...,81252,478188,"R$59= 6.323,70","R$1.388,95","R$10,00","R$4,00","R$2,00<!--= td-->","R$0,00","R$0,00","R$0,00"
2,3,13/10/2003,1.0,4.0,6.0,007,8.0,9.0,10.0,11.0,...,96244,608211,"R$40= 0.623,70","R$2.173,36","R$10,00","R$4,00","R$2,00<!--= td-->","R$0,00","R$0,00","R$0,00"
3,4,20/10/2003,1.0,2.0,4.0,005,8.0,10.0,12.0,13.0,...,123912,706657,"R$9= 02.226,02","R$1.498,72","R$10,00","R$4,00","R$2,00<= /td>","R$0,00","R$0,00","R$0,00"
4,5,27/10/2003,1.0,2.0,4.0,008,9.0,11.0,12.0,13.0,...,472,14736,195636,860992,"R$= 380.017,55","R$687,49","R$10,00","R$4,00","R$2,00<!--= td-->","R$0,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553,2554,23/06/2022,2.0,3.0,4.0,008=,10.0,11.0,13.0,15.0,...,JANDIRA,SP,219,8743,105844,547174,"R$6= 09.506,77","R$1.667,31","R$25,00","R$10,00"
2554,2555,24/06/2022,2.0,3.0,4.0,006=,7.0,8.0,11.0,12.0,...,DIADEMA,SP,PORTO NACIONAL,TO,328,10912,91392,488626,"R$2= 91.349,27","R$1.330,34"
2555,2556,25/06/2022,1.0,2.0,5.0,010=,11.0,12.0,15.0,17.0,...,310,8970,108360,584814,"R$1= .030.921,38","R$996,13","R$25,00","R$10,00","R$5,00=","R$0,00"
2556,2557,27/06/2022,2.0,3.0,4.0,005=,6.0,7.0,8.0,9.0,...,101677,563673,"R$0= ,00","R$1.649,50","R$25,00","R$10,00","R$5,00","R$4.000.000,00","R$91.075.444,01",NaN
2557,2558,28/06/2022,3.0,4.0,5.0,006=,10.0,12.0,14.0,15.0,...,362,12956,163123,886498,"R$= 3.477.366,40","R$1.688,08","R$25,00","R$10,00","R$5= ,00","R$0,00"